<%= form_with(model: event) do |form| %>
    <div class="step-app" id="demo">

      <ul class="step-steps">
        <li data-step-target="step1">Evento</li>
        <li data-step-target="step2">Palestras</li>
      </ul>
      <div class="step-content">
        <div class="step-tab-panel" data-step="step1">
          <% if event.errors.any? %>
          <div style="color: red">
            <h2>
              <%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:
            </h2>
      
            <ul>
              <% event.errors.each do |error| %>
                <li>
                  <%= error.full_message %>
                </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          <div class="field">
            <label style="display: block" for="event_name">Nome</label>
              <div class="control">
                <%= form.text_field :name, class: "input" %>
              </div>
          </div>
    
          <div>
            <label style="display: block" for="event_name">Data Programada</label>
              <%= form.date_field :date_scheduled %>
          </div>
          <div>
                <%= form.submit %>
            </div>
        </div>
        <div class="step-tab-panel" data-step="step2">
          <div class="file has-name">
            <label class="file-label">
              <input id="file-lecture" class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Selecione um Arquivo 
                </span>
              </span>
              <span id="file-lecture-name" class="file-name">
                Screen Shot 2017-07-29 at 15.54.25.png
              </span>
            </label>
            <p class="subtitle is-3">Ou</p>
            <button class="button is-primary" type="button">Crie Manualmente</button>
          </div>
        </div>
      </div>
      <div class="step-footer">
        <button data-step-action="prev" class="button is-info step-btn">Anterior</button>
        <button data-step-action="next" class="button is-info">Próximo</button>
        <button data-step-action="finish" class="button is-success" data-action="click->modal#save">Finalizar</button>
      </div>
    </div>
    <% end %>
