<%= javascript_include_tag 'events' %>
  <p style="color: green">
    <%= notice %>
  </p>


  <div class="container-search columns is-mobile is-centered">
    <div class="column is-half">
      <%= form_tag(events_path, :method => "get")  do  %>
        <div class="field has-addons">
          <div class="control input-search">
            <%= text_field_tag 'search', nil, class: 'input' ,value: params[:search], placeholder: 'Digite o nome do evento'%>
          </div>
          <div class="control">
            <a class="button is-info">
              <%= submit_tag "Pesquisar" , class: "button is-info" %>
            </a>
          </div>
        </div>
        <% end %>
    </div>
    <div class="column">
      <%= link_to "Novo Evento" , new_event_path, class: "button is-success" , data: { turbo_frame: "modal" } %>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-full">
      <%=render "events" , events: @events %>
    </div>
  </div>
<%= render 'events/modals/modal_form' %>